/* style navbar */
.barreHaut{
padding: 0;
margin: 0;
}
.homme{
height: 100px;
}
.tel{
height: 10px;
}
.logo{
width: 200px;
}
.menuright{
padding-left: 280px;
}
.navbar-expand-lg{
bottom: 47px;

}
.numero{
font-size: 25px;
color:blue;
line-height:4px;
}
.numerosuite{
font-size: 10px;
line-height:5px;
}
.panier{
height: 30px;
}
#navbarText{
font-size: 12px;
background-color: #144a82;
height: 25px;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-text{
color: white;
border-right: 1px solid white;
}

.navbar navbar-expand-lg navbar-light{
padding-top: 0px;
padding-bottom: 0px;
}

.navbar-textOscaro{
background-color: silver;
padding-right: 10px;
padding-left: 40px;
color: #144a82;
padding-top: 4px;
padding-bottom: 3px;
}
/* FIN NAVBAR */

/* style produits  */
.container{
padding-left: 0;
padding-right: 0;
}
.bord{
border: 1px solid silver;
overflow: auto;

}

.card{
border: white; /* permet d'enlever le gris du bootstrap */
font-size: 13px;

height: 25rem; /*permet d'agrandir mes colonnes */
}
.card-body {
padding-left: 0; /*permet d'enlever les padding qui sert à rien */
padding-right: 0;
padding-top: 0;
padding-bottom: 0;
}

/*
.card-title {
border: 1px solid red;
}
*/
.top{
border-bottom: 1px solid silver; /* permet de mettre un trait en dessous de mes titres */
}
.descendretext {
margin-top: 2rem; /* permet de descendre mon texte du titre */
padding-left: 1rem;
}
.card-title{
padding-left: 1rem;
}
.card-text{
list-style: none; /*permet d'enlever les puces sur mes listes */
color: #144a82;
}
/*.card-img-right{
float: right;
}
*/
.ligneBottom{
float: right;
}

.btn{
background-color: #144a82;
color: white;
font-size: 18px;
}
/* FIN STYLE PRODUITS */
